<?xml version="1.0"?>
<!--
/**
 * Copyright © Samdoit (support@samdoit.com). All rights reserved.
 * Please visit Samdoit.com for license details (http://www.samdoit.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="samdoit_google_analytics_checkout_success" instance="Samdoit\GoogleAnalytics\Observer\CheckoutOnOrderSuccessPageViewObserver" />
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="samdoit_google_analytics_order_success" instance="Samdoit\GoogleAnalytics\Observer\CheckoutOnOrderSuccessPageViewObserver" />
    </event>
</config>
